$box-shadow: #999;
$active-box-shadow: #111;
$hover-box-shadow: #4885ed;

div.gallery-wrapper {
  margin-top: 64px;
  padding: 40px 0;
  div.button-wrapper {
    margin-bottom: 40px;
    button {
      width: 80px;
      margin-right: 20px;
      box-shadow: $box-shadow 1px 1px 8px 1px;
      &:hover {
        box-shadow: $hover-box-shadow 1px 1px 8px 1px;
      }
      &.active {
        box-shadow: $active-box-shadow 1px 1px 8px 1px;
      }
      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }
  div.row {
    div.image-column {
      margin-bottom: 30px;
      img {
        width: 100%;
        box-shadow: $box-shadow 1px 1px 8px 1px;
        &:hover {
          box-shadow: $hover-box-shadow 1px 1px 8px 1px;
          cursor: pointer;
        }
      }
    }
  }
}
